.dropdown-menu.dropdown-menu-right .dropdown-item[href="/apps"],
.navbar .dropdown-help,
#system-settings-app_tab-tab[data-fieldname="app_tab"] {
  display: none !important;
}
.checkbox [data-unit="ERPNext Integrations"]+span[data-unit="ERPNext Integrations"] {
  font-size: 0;
}
.checkbox [data-unit="ERPNext Integrations"]+span[data-unit="ERPNext Integrations"]:after {
  content: 'Corex Integrations';
  font-size: 13px;
}
[dir="rtl"] .chart-legend .legend-dot{
  y:-22;
}
[dir="rtl"] .raven-chat{
  right: auto;
  left:60px;
}
[dir="rtl"] .raven-chat .back-button{
  scale: -1;
}
[dir="rtl"] .raven-chat .raven-message-item-header{
  display: flex;
  align-items:center;
}
@keyframes moveRightPacman {
  0%   { left: -150px; }
  100% { left: 240px; }
}
[dir="rtl"] .text-right {
  text-align: right !important;
}
[dir="rtl"] .dropdown-menu{
 right:auto;
}
[dir="rtl"] .form-control,
[dir="rtl"] .grid-body .editable-row input[data-fieldtype=Int], 
[dir="rtl"] .grid-body .editable-row input[data-fieldtype=Float],
[dir="rtl"] .grid-body .editable-row input[data-fieldtype=Currency],
[dir="rtl"] [class*="dt-instance-"] [class*="dt-cell--col-"]{
 text-align: right;
}



[data-fieldname="disable_standard_email_footer"],
[data-fieldname="enable_onboarding"],
[data-fieldname="hide_footer_in_auto_email_reports"],
[data-fieldname="disable_system_update_notification"],
[data-fieldname="telemetry_section"],
#website-theme-stylesheet_section [data-fieldname="apps"],
[data-fieldname="app_section"],
[href^="https://docs.frappe.io"],
[href^="https://frappecloud.com"],
[href^="https://github.com/frappe"],
[href^="https://github.com/frappe"],
[href^="https://docs.erpnext.com"],
[href^="https://docs.frappe.com"],
#website-settings-navbar_tab [data-fieldname="splash_image"],
#website-settings-navbar_tab [data-fieldname="favicon"] {
  display: none;
}