/* .main-section {
    height:auto;
} */
.corex-theme .main-section > .container,
.corex-theme .section {
    background-color: var(--bg-color);
}
.corex-theme .main-section > .navbar {
    border-radius: 20px 20px 0 0;
}
.corex-theme .main-section .web-footer {
    border-radius: 0 0 20px 20px;
}
.corex-theme .cosmic-glow {
    position:fixed;
}
.corex-theme .co-meteor + .star {
    position:fixed;
}