.main-section {
    height:auto;
}
/* .corex-theme .main-section > .container,
.corex-theme .section, */
.corex-theme .main-section {
    background-color: var(--bg-color);
}
.corex-theme .main-section > .navbar {
    border-radius: 20px 20px 0 0;
}
.corex-theme .main-section .web-footer {
    border-radius: 0 0 20px 20px;
}
.corex-theme .cosmic-glow {
    position:fixed;
}
.corex-theme .co-meteor + .star {
    position:fixed;
}
.corex-theme .web-form,
.corex-theme .web-list-container {
    position: relative;
}
.corex-theme .web-list-container {
    background-color: var(--bg-color);
}
.corex-theme .main-section{
    min-height: 100%;
}
.corex-theme[data-path="login"] .login-content {
    background-color: #fff;
    position:relative
}