<div class="co-meteor meteor-1"></div>
<div class="co-meteor meteor-2"></div>
<div class="co-meteor meteor-3"></div>
<div class="co-meteor meteor-4"></div>
<div class="co-meteor meteor-5"></div>
<div class="co-meteor meteor-6"></div>
<div class="co-meteor meteor-7"></div>
<div class="co-meteor meteor-8"></div>
<div class="co-meteor meteor-9"></div>
<div class="co-meteor meteor-10"></div>
<div class="co-meteor meteor-11"></div>
<div class="co-meteor meteor-12"></div>
<div class="co-meteor meteor-13"></div>
<div class="co-meteor meteor-14"></div>
<div class="co-meteor meteor-15"></div>
<div class="star"></div>
<!-- <div class="stars"></div> -->
<div class="cosmic-glow"></div>